export(extract_genes_based_on_functional_annotation)
export(extract_sequence_from_annotation)
export(add_seq_to_annotation_df)
export(slice_gene_from_start_to_stop)
export(add_sliced_codons_to_annotaion_df)
export(attribute_codons_to_amino_acid)
export(count_codons_per_amino_acids)
export(convert_data_for_plotting)
export(draw_frequency_plot)
export(from_annotation_to_plot)
export(compute_effective_number_of_codon_usage)
export(compute_cub)
export(plot_effective_number_of_codon_usage)
export(get_nucleotide_freq)
export(compute_Ka_constant)
export(compute_ei)
export(compute_ei_apply)
#export(compute_chi2)
#export(compute_chi2_theoretical)
export(compute_corrected_effective_number_of_codon_usage)
#export(plot_d_vs_condition)
#export(regression_eq)